@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .social{
        @apply border rounded px-[45px] py-2 cursor-pointer hover:shadow transition
    }
    
    .input-field{
        @apply border-2 block rounded p-1 outline-none w-full mb-4
    }

    .ul-list{
        @apply list-none text-sm
    }

    .li-list{
        @apply py-1
    }
    .li-list:first-of-type a{
        @apply font-bold text-gray-400
    }
    .containerr{
        @apply w-[90%] md:w-[80%] mx-auto
    }
    .pars p{
        @apply py-[20px] border-b border-gray-400 text-[#808080]
    }
    .divs > div{
        @apply mb-12 
    }
    .divs > div h1{
        @apply mb-2 font-bold
    }
    .divs > div p{
        @apply text-[#808080] 
    }
    .gray-border{
        @apply border border-gray-400 rounded p-2
    }
    .lists a{
        @apply text-sm md:text-base
    }
    
}
.linearr{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(198,17,173,0.45227597875087533) 63%, rgba(0,212,255,0.5251051104035365) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.active{
    color:#6948ff;
}